<form action='#' method=''>
  <p> Survey Title: <%= survey.title %></p>
  <p> Created at: <%= survey.created_at %> </p>
  <p> Question: <%= survey.questions.first.description %> </p>
  <p> Answers: </p>
  <ul>
    <% survey.questions.first.answers.each do |answer| %>
    <input type='radio' name='response' value='<%= answer.description %>'><%= answer.description %><br>
    <% end %></br>
  </ul>
  <input type='submit'>
</form>
